.container {
    width: 60%;
    margin: 0px auto;
}

.btn-dark {
    display: inline-block;
    padding: 20px 29px;
    background-color: #4a4a4b;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color:white;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.btn-dark:hover::before {
    width: 100%;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);

}

.btn-dark::before {
    content: "";
    height: 100%;
    width: 0%;
    background-color: #ff2020;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn-red {
    display: inline-block;
    padding: 20px 29px;
    background-color: #ff2020;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color:white;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.btn-red:hover::before {
    width: 100%;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);

}

.btn-red::before {
    content: "";
    height: 100%;
    width: 0%;
    background-color: #4a4a4b;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}