@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*-------- Header Section -------- */

header {
    position: sticky;
    top : 0px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 2;
}

.header-items {
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-items nav ul {
    display: flex;
    column-gap: 40px;
}

.header-items nav ul li {
    padding: 40px 0px;
    position: relative;
}

.sub-li:hover .dropdown {
    opacity: 1;
    top: 100%;
}

.dropdown {
    position: absolute;
    width: 170px;
    background: white;
    border: 1px transparent;
    padding: 15px;
    top: 90%;
    border-radius: 7px 7px 3px 3px;
    border-top: 3px solid #ff2020;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: 0.2s;
}

.dropdown::before {
    content: "";
    border: 6px solid transparent;
    position: absolute;
    top: -13px;
    border-bottom-color: red;
}


.dropdown ul {
    display: flex;
    flex-direction: column !important;
    row-gap: 15px;
}

.dropdown ul li {
    padding: 0px 0px !important;
}

.status {
    background-color: #ff003c;
    padding: 5px 8px;
    font-size: 10px;
    color: white;
    border-radius: 8px;
    position: absolute;
    top: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header-items nav ul li a {
    font-size: 16px;
    transition: 0.2s;
}

.header-items nav ul li a:hover {
    color:#ff2020;
}

.header-items .header-right {
    display: flex;
    column-gap: 35px;
}

.header-items .header-right i {
    transition: 0.2s;
    font-size: 16px;
}

.header-items .header-right i:hover {
    color:#ff2020;
    cursor: pointer;
}

.hamburger {
    display: none;
}

/*-------- End of Header Section -------- */

/*-------- Banner Section -------- */

.banner {
    height: 100vh;
}

.banner img {
    height: 100vh;
}

.banner .container .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .container .banner-container .banner-text-side h1 {
    color: #0b1c39;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 26px;
}

.banner .container .banner-container .banner-text-side p {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    color: #212025;
    font-family: "Roboto",sans-serif;
    padding-bottom: 60px;
}

/*-------- End of Banner Section -------- */

/*-------- New Arriwals Section -------- */

.newarriwals {
    background-color: white;
}

.newarriwals .container h2 {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    padding: 40px 0px;
}

.newarriwals .container {
    padding: 60px 0px;
}

.new-arriwal-container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}


.product-bottom {
    padding: 25px 0px;
}

.product-bottom h3 {
    color: #444444;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.product-bottom span {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    color: #ff2020;
    font-size: 18px;
}

.product-image {
    overflow: hidden;
}

.product-image img {
    width: 100% ;
    transition: 0.5s;
}

.product-image img:hover {
    transform: scale(1.05);
}

/*-------- End of New Arriwals Section -------- */

/*-------- Gallery Section -------- */

.gallery {
    background-color: white;
}
.grid {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    height: 650px;
 }

 .grid img {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    transition: 0.5s;
    position: relative;
 }

 .grid img:hover {
    transform: scale(1);
    opacity: 0.5;
 }

 .item-1 {

    background-color: #000000; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 4;
    overflow: hidden;
    
 }
 .item-2 {
 
    background-color: #000000; 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 5;
    grid-column-end: 6;
    overflow: hidden;
    
 }
 .item-3 {
 
    background-color: #000000; 
    grid-row-start: 1;
    grid-column-start: 6;
 
    grid-row-end: 3;
    grid-column-end: 8;
    overflow: hidden;
 }
 .item-4 {
 
    background-color: #000000; 
    grid-row-start: 3;
    grid-column-start: 6;
 
    grid-row-end: 5;
    grid-column-end: 8;
    overflow: hidden;
    
 }

/*-------- End of Gallery Section -------- */

/*-------- Popular Items Section -------- */

.popular-items {
    padding: 70px 0px;
}


.popular-items .popular-items-header {
    display: flex;
    width: 50%;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.popular-items .popular-items-header h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.popular-items .popular-items-header p {
    font-family: "Roboto",sans-serif;
    color: #777;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

.popular-items-container {
    width: calc(100% / 3 - 30px);
}

.popular-items-photo {
    border-bottom: 3px solid #ff2020;
    position: relative;
    overflow: hidden;
}

.popular-items-photo img {
    width: 100%;
    height: 100%;
}

.popular-items-photo i {
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 0;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.popular-items-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.popular-items-photo span {
    background-color: #ff2020;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -60px;
    padding: 20px 0px;
    color:white;
    opacity: 0;   
    transition: 0.5s; 
    cursor: pointer;
}

.button-side {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.popular-items-photo:hover i {
    opacity: 1;
}

.popular-items-photo:hover span {
    opacity: 1;
    bottom: 0px;
}

.bottom-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    row-gap: 10px;
}

.bottom-side h3 {
    color: #444444;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.bottom-side p {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/*-------- End of Popular Items Section -------- */

/*-------- Video Banner Section -------- */

.video-banner {
    height: 50vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    margin: 40px 0px;
}

.background-image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.video-banner .play-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    font-size: 70px;
    color:white;
    transition: 0.5s;
    cursor: pointer;
}

.video-banner .next-video {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 18px;
    align-items: end;
    background-color: #ff2020;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    width: 30%;
    color: white;
}

.video-banner:hover .play-icon {
    font-size: 80px;
}

.video-banner .next-video i {
    cursor: pointer;
}

.video-banner:hover .background-image img {
    opacity: 0.5;
}

/*-------- End of Video Banner Section -------- */

/*-------- Watch of Choise Section -------- */

.watch-of-choise {
    background-color: white;
    padding: 170px 0px;
}

.woc-items {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
}

.woc-items .left-side {
    width: 40%;
}

.woc-items h2 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

.woc-items p {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    color: #777;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: normal;
}

/*-------- End of Watch of Choise Section -------- */

/*-------- Methods Section -------- */

.methods {
    background-color: white;
}

.methods .container {
    background-color: #ff2020;
    display: flex;
    column-gap: 10px;
}

.method-items {
    color:white;
    padding: 40px;
}

.method-items i {
    font-size: 30px;
    margin-bottom: 12px;
}

.method-items h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    font-family: "Roboto",sans-serif;
}

.method-items p {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

/*-------- End of Methods Section -------- */

/*-------- Footer Section-------- */

footer {
    background-color: white;
    padding: 100px 0px;
}

.footer-items {
    display: flex;
    column-gap: 10px;

}

.footer-left-side {
    width: 25%;
}

.footer-right-side {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.footer-right-side h6 {
    color: #000;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
}

.footer-left-side p {
    font-family: "Roboto",sans-serif;
    color: #868c98;
    font-size: 16px;
    margin: 30px 0px;
    line-height: 1.8;
}

.footer-nav ul li {
    margin-bottom: 15px;
}

.footer-nav ul li a {
    color: #868c98;
    font-family: "Roboto",sans-serif;
    transition: 0.3s;
}

.footer-nav ul li a:hover {
    color: #ff2020;
    padding-left: 5px;
}

.footer-nav-items {
    width: 100%;
}

.footer-bottom {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.social-icons {
    display: flex;
    column-gap: 20px;
    font-size: 14px;
}

.social-icons i {
    transition: 0.2s;
    cursor: pointer;
}

.social-icons i:hover {
    color: #ff2020;
    transform: rotateY(180deg);
}

/*-------- End of Footer Section-------- */

/*-------- Responsibility Section-------- */

@media screen and (max-width: 766px) {
    .container {
        width: 90%;
    }

    .banner h1 {
        font-size: 35px !important;
    }

    .banner {
        height: 40vh;
    }

    .banner img {
        display: none;
    }

    .banner-text-side {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 867px) {
    .container {
        width: 90%;
    }

    .banner h1 {
        font-size: 40px !important;
    }

    .banner {
        height: 50vh;
    }

    .banner img {
        height: 50vh;
    }
}

@media screen and (min-width: 867px) and (max-width: 1177px) {
    
    .banner {
        height: 50vh;
    }

    .banner img {
        height: 50vh;
    }
    
    .container {
        width: 80%;
    }

    .banner h1 {
        font-size: 60px !important;
    }
}

@media screen and (min-width: 1178px) and (max-width: 1455px) {
    .container {
        width: 90%;
    }
}

@media screen and (min-width: 1455px) {
    .container {
        width: 60%;
    }
  }



